<div class="background-container">

<!-- Mostrar el formulario de nombre y número de jugadores -->
<div *ngIf="showPlayerNameForm" class="game-code-container">
  <app-game-code (nombre)="recibirNombre($event)" (codigoSala)="recibirCodigo($event)"></app-game-code>

</div>

  <div *ngIf="!showPlayerNameForm" class="container">
     <!-- Componente del selector de avatar -->
     <app-avatar-selector (avatarSelected)="onAvatarSelected($event)"></app-avatar-selector>
    <div class="player-avatar-container">
      <div class="avatar-frame">
        <img [src]="'assets/' + selectedAvatar" alt="Avatar seleccionado" class="avatar-img" />
      </div>
      <button class="instructions-button" (click)="toggleInstructions()">INSTRUCCIONES</button>
    </div>

    <div>
      <h1 class="title">TELEFUNKEN</h1>
    </div>
    <div class="logo-container">
      <img src="../../assets/LogoTelefunken.png" alt="Logo with playing cards" class="logo" />
    </div>
    <p>Nombre del jugador: {{ nombreRecibido }}</p>
    <p>Te uniste a la sala: {{ CodigoRecibido }}</p>

    <p class="description">Espera que el anfitrión inicie el juego</p>
    <div class="loading-dots"></div>
    <div>
      <button class="cancel-button" routerLink="/" style="margin-left: 10px;">ABANDONAR SALA</button>
    </div>
  </div>

  <!-- Modal de instrucciones -->
  <div *ngIf="showInstructions" class="modal-overlay">
    <div class="modal-content">
      <app-instructions></app-instructions>
    </div>
  </div>
</div>
