<div class="background-container">

<!-- Mostrar el formulario de nombre y número de jugadores -->
<div *ngIf="showPlayerNameForm" class="game-code-container">
  <app-game-code (nombre) = 'recibirNombre($event)'></app-game-code>
</div>

  <div *ngIf="!showPlayerNameForm" class="container">
    <div class="player-avatar-container">
      <div class="avatar-frame">
        <img src="assets/avatar.jpg" alt="Avatar" class="avatar-img" />
      </div>
      <button class="instructions-button" (click)="toggleInstructions()">INSTRUCCIONES</button>
    </div>

    <div>
      <h1 class="title">TELEFUNKEN</h1>
    </div>
    <div class="logo-container">
      <img src="../../assets/LogoTelefunken.png" alt="Logo with playing cards" class="logo" />
    </div>
    <p>Nombre del jugador: {{ nombreRecibido }}</p>

    <p class="description">Espera que el anfitrión inicie el juego</p>
    <div class="loading-dots"></div>
    <div>
      <button class="cancel-button" routerLink="/" style="margin-left: 10px;">ABANDONAR SALA</button>
    </div>
  </div>

  <!-- Modal de instrucciones -->
  <div *ngIf="showInstructions" class="modal-overlay">
    <div class="modal-content">
      <app-instructions></app-instructions>
    </div>
  </div>
</div>
