<div class="background-container">

  <div class="container">
    <!-- Nueva sección con avatar y botón -->
    <div class="player-avatar-container">
      <div class="avatar-frame">
        <img src="assets/avatar.jpg" alt="Avatar" class="avatar-img" />
      </div>
      <button class="instructions-button" (click)="showInstructions()">INSTRUCCIONES</button>
    </div>

    <h1 class="title">TELEFUNKEN</h1>
    <div class="logo-container">
      <img src="../../assets/LogoTelefunken.png" alt="Logo" class="logo" />
    </div>
    <p class="description">¡La forma más fácil de jugar Telefunken!.</p>



    <div class="player-selection">
      <label for="playerSelect">Número de jugadores:</label>
      <select id="playerSelect" [(ngModel)]="numJugadores">
        <option *ngFor="let jugador of jugadores" [value]="jugador.value">
          {{ jugador.label }}
        </option>
      </select>
    </div>

    <div class="name-input">
      <label for="playerName">Ingresa tu nombre:</label>
      <input type="text" id="playerName" [(ngModel)]="nombre" maxlength="10" placeholder="Escribe tu nombre" />
    </div>

    <div class="buttons">
      <button class="pulse" routerLink="/componente2" (click)="crearJuego()">Crear juego</button>
      <button class="pulse" routerLink="/game-code" (click)="unirseJuego()">Unirse a un juego</button>
    </div>
  </div>
</div>
