<div class="background-container">

  <div class="container">
    <h1 class="title">TELEFUNKEN</h1>
    <p class="description">¡La forma más fácil de jugar Telefunken! Con amigos y en línea.</p>

  

    <div class="player-selection">
      <label for="playerSelect">Número de jugadores:</label>
      <select id="playerSelect" [(ngModel)]="numJugadores">
        <option *ngFor="let jugador of jugadores" [value]="jugador.value">
          {{ jugador.label }}
        </option>
      </select>
    </div>

    <div class="name-input">
      <label for="playerName">Ingresa tu nombre:</label>
      <input type="text" id="playerName" [(ngModel)]="nombre" maxlength="10" placeholder="Escribe tu nombre" />
    </div>

    <div class="buttons">
      <button class="pulse" routerLink="/componente2" (click)="crearJuego()">Crear juego</button>
      <button class="pulse" routerLink="/game-code" (click)="unirseJuego()">Unirse a un juego</button>
    </div>
  </div>
</div>
