<div class="background-container">
  <!-- Modal que contiene la imagen de Póker -->
  <div id="modalPoker" class="modal" *ngIf="mostrarModal">
    <div class="modal-content">
      <img src="/../assets/LogoTelefunken.png" alt="Póker" class="poker-img" />
    </div>
  </div>


  <!-- Contenedor principal con el contenido de la página -->
  <div class="container">

    <!-- Logo y título -->
    <div>
      <!-- Nueva sección con avatar y botón -->
      <div class="player-avatar-container">
        <div class="avatar-frame">
          <img src="assets/avatar.jpg" alt="Avatar" class="avatar-img" />
        </div>
        <button class="instructions-button" (click)="showInstructions()">INSTRUCCIONES</button>
      </div>

      <img src="../../assets/LogoTelefunken.png" alt="Logo" class="logo" />
      <h1>TELEFUNKEN</h1>
    </div>

    <!-- Tabla que muestra las puntuaciones de los jugadores -->
    <table class="tabla">
      <thead>
        <tr>
          <th></th> <!-- Columna vacía para la fila de nombres -->
          <th *ngFor="let jugador of jugadores" class="jugador-header">{{ jugador }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fila of filas; let i = index">
          <td class="especial">{{ fila }}</td>
          <td *ngFor="let jugador of jugadores; let j = index" class="input-container">
            <input type="number" class="input-puntos"
              [value]="puntos[j][i] === 0 ? '' : puntos[j][i]"
              (input)="actualizarPuntos(j, i, $event)" min="1" />
          </td>
        </tr>

        <!-- Fila de totales -->
        <tr class="total-row">
          <td class="especial">Total</td>
          <td *ngFor="let total of totales" class="input-container">
            <input type="text" [value]="total === 0 ? '-' : total" class="input-puntos total" readonly />
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Botón que redirige a la página de los ganadores -->
    <button class="boton-ganadores" (click)="verGanadores()" routerLink="/componente5">Ver Ganadores</button>
  </div>
  </div>
