body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-image: url('https://img.freepik.com/vector-gratis/fondo-mesa-poquer-diseno-plano_23-2151047005.jpg?t=st=1734024517~exp=1734028117~hmac=3f4fd00642959f93060b9e13abf84a07770d21c5cd7c2cb90d532ec6f1a44bae&w=996');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Arial', sans-serif;
  color: #fff;
}

.winner-container {
  text-align: center;
  padding: 20px 40px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  width: 80%;
  max-width: 600px;
}

.winner-logo {
  border-radius: 50%;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffcd38;
  margin-top: 20px;
}

.winner-list {
  margin-top: 30px;
  padding: 20px;
}

.winner {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 10px 0;
  color: #fff;
}

.winner-rank {
  font-size: 2.5rem;
  margin-right: 10px;
}

.winner-name {
  font-size: 1.5rem;
  color: #ffcd38;
}

.buttons {
  margin-top: 30px;
}

.restart-button, .exit-button {
  font-size: 1rem;
  font-weight: bold;
  padding: 12px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin: 10px;
}

.restart-button {
  background-color: #4CAF50;
  color: white;
}

.restart-button:hover {
  background-color: #45a049;
}

.exit-button {
  background-color: #f44336;
  color: white;
}

.exit-button:hover {
  background-color: #d32f2f;
}
