body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-image: url('https://img.freepik.com/vector-gratis/fondo-mesa-poquer-diseno-plano_23-2151047005.jpg?t=st=1734024517~exp=1734028117~hmac=3f4fd00642959f93060b9e13abf84a07770d21c5cd7c2cb90d532ec6f1a44bae&w=996'); /* Añadir la imagen de fondo */
  background-size: cover; /* Asegura que la imagen cubra todo el fondo */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  font-family: 'Arial', sans-serif;
  color: #333;
}

.text-center {
  text-align: center;
  padding: 20px 40px; /* Reducir padding en los lados para que el fondo sea más visible */
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con algo de transparencia */
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 80%; /* Reducir el ancho al 80% para que haya más espacio para el fondo alrededor */
  max-width: 600px; /* Establecer un ancho máximo para que no se expanda demasiado */
}

.text-center img {
  border-radius: 50%;
}

.text-center h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #4a4a4a;
}

.text-center p {
  font-size: 1rem;
  color: #666666;
  margin-bottom: 10px;
}

.text-center button {
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.text-center button:not([disabled]) {
  background-color: #6b41b6;
  color: white;
}

.text-center button:not([disabled]):hover {
  background-color: #5e09a4;
}

.player-info {
  display: inline-flex;
  align-items: center;
  margin-bottom: 15px;
  background-color: #f4f4f4;
  padding: 10px 15px;
  border-radius: 30px;
  font-size: 1.2em;
}

.player-icon {
  margin-right: 10px;
}

.invite-code {
  font-size: 1.8em;
  font-weight: bold;
  margin: 20px 0;
}

.copy-button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.copy-button:hover {
  background-color: #555;
}

.cancel-button {
  background-color: #ff4c4c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

.cancel-button:hover {
  background-color: #ff1f1f;
}

.loading-dots {
  display: inline-block;
  animation: wave 1.5s infinite ease-in-out;
  font-size: 24px;
  margin-left: 2px;
}

.loading-dots:nth-child(1) {
  animation-delay: 0s;
}

.loading-dots:nth-child(2) {
  animation-delay: 0.2s;
}

.loading-dots:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes wave {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
