.background-container {
  width: 100%;
  height: 100vh;
  background-image: url('assets/24.png'); /* Cambia esto por la ruta de tu imagen */
  background-size: cover;
  background-position: center;
  animation: blink-background 2s infinite; /* Animación parpadeante */
  display: flex;
  justify-content: center;
  align-items: center;
}



.container {
  color: #150020;
  background-color: rgba(255, 255, 255, 0.822);
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Asegura alineación vertical dentro del contenedor */
  justify-content: center;
  align-items: center;
}

.logo-container {
  display: flex; /* Habilitar flexbox */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  width: 100%; /* Asegurarse de que ocupe todo el ancho */
  margin: 20px 0; /* Separar del título */
}

.logo {
  width: 120px; /* Ajustar el tamaño del logo */
  height: auto; /* Mantener la proporción */
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #9859f7;
  text-align: center; /* Centrar texto */
}

.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #9859f7;
}


.description {
  margin-bottom: 20px;
  font-size: 16px;
}

.player-selection,
.name-input {
  margin: 20px 0;
}

input,
button {
  display: block; /* Asegura que los elementos no estén en línea */
  margin: 10px auto; /* Centra horizontalmente los elementos */
}

button {
  background-color: #6b41b6;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover:not(:disabled) {
  background-color: #200171;
  transform: translateY(-3px);
}

@keyframes zoom-background {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 110%;
  }
  100% {
    background-size: 100%;
  }
}

.background-container {
  background-image: url('assets/24.png');
  background-size: cover;
  background-repeat: no-repeat;
  animation: zoom-background 8s ease-in-out infinite;
}






/* Contenedor del avatar y el botón */
.player-avatar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

/* Estilo del marco redondo para el avatar */
.avatar-frame {
  width: 70px;
  height: 70px;
  background-color: #9859f7; /* Morado */
  border-radius: 50%;
  overflow: hidden; /* Esconde cualquier parte de la imagen fuera del círculo */
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen se ajuste correctamente dentro del círculo */
}

/* Estilo del botón de instrucciones */
.instructions-button {
  background-color: #6b41b6;
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.instructions-button:hover {
  background-color: #5e09a4;
}

.instructions-button:focus {
  outline: none;
}
